<footer class="bkg">
    <div class="rodape rodape-r2 py-8 mt-3">
        <div class="container py-10">
            <div class="row">
                <div class="col-lg">

                </div>
                <div class="col-lg cor text-align-center">
                    <h4> Você pode trocar de contabilidade quando quiser. Não é necessário finalizar o ano fiscal, e não tem nenhum custo. </h4>
                    <p> Tem alguma dúvida sobre por que você deve nos contratar? <strong> Fale com um dos nossos contadores experts:</strong> </p>
                    <p class="mb-0"> <a href="fale-conosco.php" class="bt bt-bw text-transform-uppercase mb-0" style="font-variant: small-caps;"> <i class="mr-1 fas fa-fw fa-phone-volume"></i> <small> <strong> Ligamos</strong> para você </small> </a> </p>
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative bkg-b1">
        

        <div class="container py-6">
            <div class="row cor justify-content-center">
                <div class="col-lg-3 d-flex align-items-center">
                    <div class="logo2">
                        <a href="index.php" target="_self"> <img src="{{asset('assets/imgs/logo.png'|theme)}}" alt=""> </a>
                        <div class="d-flex mt-3 justify-content-center">
                            <a href="https://www.facebook.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-fb fab fa-fw fa-facebook-f"> </a>                            <a href="https://twitter.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-tw fab fa-fw fa-twitter"> </a>                            <a href="https://www.instagram.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-ig fab fa-fw fa-instagram"> </a>                            <a href="https://www.linkedin.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-in fab fa-fw fa-linkedin-in"> </a>                        </div>
                    </div>
                    <!-- <h4 class="my-2 text-align-center"> Caro empreendedor! <span class="d-block h6 font-weight-400 mt-1"> Temos soluções pontuais para o seu negócio! </span> <span class="cor-c0 text-transform-uppercase font-weight-500 h2 d-block mt-2"> Qual a sua necessidade? </span></h4> -->
                </div>
                <div class="col-lg-3 offset-lg-1 mt-lg-0 mt-4 text-align-justify">
                    <h3 class="font-weight-400 mb-0 cor-c3">Endereço</h3>
                    <p class="d-flex align-items-baseline"> Endereço do local - nº 000 – Bairro local <br> Cidade/UF –  CEP. 00000-000 </p>
                </div>
                <div class="col-lg-2 mt-lg-0 mt-4">
                    <h3 class="font-weight-400 mb-0 cor-c3">Contato</h3>
                    <p class="mb-0 d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-phone"></i> <a href="tel:550000000000"> <span> (00) 0000-0000  </span></a> </p>
                    <p class="d-flex align-items-center"> <i class="mr-1 fab fa-fw fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=5500000000000&text=Olá,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank"> <span> (00) 00000-0000 </span> </a> </p>
                </div>
                <div class="col-lg-3 mt-lg-0 mt-4">
                    <h3 class="font-weight-400 mb-0 cor-c3">E-mail</h3>
                    <p class="mb-0 d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-envelope"></i> <a href="mailto:contato@dominio.com.br"> contato@dominio.com.br </a> </p>
                    <p class="d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-file"></i> CRC/UF 00000-0 </p>
                </div>
            </div>
        </div>
    </div>
    <div class="bkg-b2">
        <div class="container py-1 position-relative align-items-center ">
            <p class="m-0 text-align-center cor" style="vertical-align: text-bottom;"> Copyright <i class="far fa-copyright"></i> 2023 <a href="https://sitecontabil.com.br/modelos" target="_blank" rel="noopener noreferrer"> <img src="https://sitecontabil.com.br/imgs/logo-sc-b.png" width="20px" alt="" class="position-relative" style="top: 4px;"> Design e desenvolvimento </a> | <strong> Escritório de Contabilidade </strong></p>
        </div>
    </div>

</footer>
    </body>
</html>
