<footer class="bkg">

    <!-- ebook -->
    <!-- <div class="container py-10">
        <div class="row align-items-center">
            <div class="col-lg">
                <img src="assets/imgs/h4.png" alt="" width="100%" height="350px" style="object-fit: contain;">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-1 font-weight-400"> Baixe <strong> gratuitamente </strong> nossos materiais exclusivos! </h3>
                <h2 class="cor-c2 mb-4"> Cadastre-se e receba nossos materiais</h2>
                
                <h5 class="font-weight-400 mb-1 mt-2"> Em nossa empresa, sempre nos preocupamos em atender todas suas <span class="cor-c2 font-weight-600">necessidades</span> </h5>
                <a href="ebook" target="_blank" class="bt bt-b2 my-1 text-transform-uppercase">Acesse nossos materiais</a>
            </div>
        </div>
    </div> -->

    <div class="container pt-10">
        <div style="border-radius: 0 20px 20px 0;">
            <div class="heading text-align-center">
                <h4 class="m-0 pb-1 px-4 font-weight-400"> Fique informado com nossas notícias atualizadas diariamente! </h4>
                <h1 class="mt-1 font-weight-500 cor-c2"> Notícias Empresariais </h1>
            </div>
            <div class="owl-noticias owl-carousel owl-theme">
                                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> CONTABILIDADE - Confira as últimas obrigações acessórias de agosto </h4>
                            <a href="noticias-ler.php?id=8829">
                            A rotina do contador e dos escrit&oacute;rios de contabilidade s&eacute; bem agitadas e, por isso, estes profissionais buscam todos os dias solu&ccedil;&otilde;es para otimizar os seus processos cont&aacute;beis
Dentre as tarefas do contador est&aacute; o envio das&nbsp;obriga&ccedil;&otilde;es cont&aacute;beis. Tratam-se de declara&ccedil;&otilde;es que precisam ser entregues mensal, trimestral e anualmente pelas empresas visando mostrar ao governo que a empresa cumpre com suas...                            </a>
                        </div>
                    </div>
                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> MEI - Como a aposentadoria funciona e por que você deve se preparar </h4>
                            <a href="noticias-ler.php?id=8828">
                            A&nbsp;aposentadoria&nbsp;&eacute; um direito estendido a todos os cidad&atilde;os, inclusive aos Microempreendedores Individuais (MEIs). Por&eacute;m, entender as regras espec&iacute;ficas para essa classe e como garantir esse benef&iacute;cio &eacute; essencial para quem deseja um futuro tranquilo.
Os MEIs s&atilde;o aut&ocirc;nomos que exercem atividades formalizadas por meio de um CNPJ, o que lhes confere direitos e deveres perante a Previd&ecirc;ncia Social. Para garantir a aposentadoria,...                            </a>
                        </div>
                    </div>
                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> CONTÁBIL - Brasil tem mais de 6 milhões de empresas com dívidas, saiba como a assessoria contábil pode evitar que sua empresa quebre </h4>
                            <a href="noticias-ler.php?id=8827">
                            A inadimpl&ecirc;ncia &eacute; um problema recorrente dentro do setor empresarial brasileiro. Nos mais diferentes segmentos, este &eacute; um grande empecilho para a sa&uacute;de financeira de um neg&oacute;cio, e afeta seu crescimento e mesmo a sua continuidade.&nbsp;
Segundo levantamento recente do Serasa Experian, no in&iacute;cio do segundo semestre deste ano, cerca de 6,5 milh&otilde;es de empresas estavam com as contas atrasadas, com d&iacute;vidas que somavam algo em torno de R$117,5...                            </a>
                        </div>
                    </div>
                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> NOTÍCIAS - Caixa anuncia renegociação de dívidas de programa de apoio às micro e pequenas empresas </h4>
                            <a href="noticias-ler.php?id=8826">
                            S&atilde;o Paulo &ndash;&nbsp;A Caixa Econ&ocirc;mica Federal iniciou hoje (28) um processo de&nbsp;renegocia&ccedil;&atilde;o dos contratos&nbsp;do Programa Nacional de Apoio &agrave;s Microempresas e Empresas de Pequeno Porte (Pronampe). A ideia &eacute; de estender o per&iacute;odo de quita&ccedil;&atilde;o para um m&aacute;ximo de 72 meses. Essa medida inclui a revis&atilde;o das parcelas, o que resulta em mensalidades de valor reduzido para os tomadores do empr&eacute;stimo. Trata-se de um...                            </a>
                        </div>
                    </div>
                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> EMPRESARIAL - Serviços pagos e não entregues: saiba o que fazer </h4>
                            <a href="noticias-ler.php?id=8825">
                            Na din&acirc;mica complexa das transa&ccedil;&otilde;es comerciais contempor&acirc;neas, uma quest&atilde;o recorrente emerge quando consumidores optam por contratar servi&ccedil;os. Frequentemente, ap&oacute;s o pagamento antecipado, surge um emaranhado de desculpas e atrasos por parte dos prestadores de servi&ccedil;o.
Nas opera&ccedil;&otilde;es comerciais, o alicerce &eacute; constru&iacute;do sobre contratos bem estabelecidos. Esses acordos documentados, independentemente de sua...                            </a>
                        </div>
                    </div>
                                    <div class="d-flex">
                        <h3 class="cor-c2 font text-align-right mb-0 mr-2 pr-2" style="border-right: 4px solid;"> <span class="display-4">30 </span> <span class="font-weight-400"> agosto </span> <small> 2023 </small></h3>
                        <div>
                            <h4 class="font-weight-500 mb-1"> FIQUE SABENDO - SAIU lista de CPFs que vão receber PIX de R$ 6.220, confira lista </h4>
                            <a href="noticias-ler.php?id=8824">
                            Em meio &agrave;s vicissitudes que podem acometer a vida, h&aacute; momentos em que a solidariedade do sistema financeiro se faz presente de forma tang&iacute;vel. A not&iacute;cia que ecoou na &uacute;ltima sexta-feira, dia 25, trouxe um sopro de al&iacute;vio para os moradores das cidades de Pilar, no Alagoas, e de Campo Novo e S&atilde;o Jos&eacute; do Norte, no Rio Grande do Sul.
A Caixa Econ&ocirc;mica Federal, com sua miss&atilde;o de servir &agrave; popula&ccedil;&atilde;o, liberou um...                            </a>
                        </div>
                    </div>
                            </div>
            <p class="text-align-right" style="font-size:20px"> <a class="d-inline-block bt bt-b2" href="noticias.php" target="_self">Confira todas</a> </p>
        </div>
    </div>

    <div class="faixa faixa-alt cor py-2 mt-5 mb-2">
        <div class="container position-relative">
            <h2 class="m-0 py-2"><span class="font-weight-900">Conheça a Escritório de Contabilidade </span> <br> <span class="font-weight-400">Veja como funciona os processos do nosso escritório</span></h2>
        </div>
    </div>

    <div class="position-relative py-10 mb-10">
        <div class="bloco"><img src="{{asset('assets/imgs/i2.jpg'|theme)}}" alt=""></div>
        <div class="container"> 
            <div class="row justify-content-end">
                <div class="col-lg-7 text-align-right">
                    <p>Contratando nossa Contabilidade suas obrigações ficam garantidas e você pode economizar mais do que imagina com custos contábeis. Invista em você e no seu negócio e deixe a contabilidade com a gente.</p>
                    <p>Aqui no Escritório de Contabilidade abrimos sua empresa analisando as informações cedidas por você para sabermos em qual tributação melhor se encaixa ao seu futuro negócio (e não tem problema se você não souber nossos consultores são capacitados e estarão ao seu auxílio).</p>
                    <p>Para abrir sua empresa, o processo é bem simples: Preencha nossos formulários e depois disso é só aguardar o contato da nossa equipe e enviar os documentos necessários para a conclusão da abertura.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="position-relative bkg-b1">
        <!-- newsletter -->
        <!-- <div class="container bkg-bs rectangle2 p-4">
            <div class="row">
                <div class="col-lg d-flex flex-column justify-content-center">
                    <h3 class="mb-1 font-weight-400"> Cadastre  <strong>  seu email  </strong> e receba</h3>
                    <h2 class="mb-0"> Nossas <strong>Newsletters</strong></h2>
                </div>
                <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <h5 class="font-weight-400 mb-1 mt-2"> Fique atento as novidades do mundo empresarial! </h5>
                    <form class="ebook width-100" name="" action="/newsletter/cadastro/index.php" method="post" target="_blank">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-grow-1 ebook-borda">
                                <i class="ebook-icone fas fa-user-check"></i>
                                <input type="text" name="nome_user" placeholder="Digite seu nome" required="">
                            </div>
                            <div class="d-flex flex-grow-1 ebook-borda">
                                <i class="ebook-icone fas fa-envelope-open"></i>
                                <input type="email" name="email_user" placeholder="Digite seu email" required="">
                            </div>
                        </div>
                        <div>
                            <button class="bt bt-b1 my-1 text-transform-uppercase" name="send" type="submit"> <i class="fas fa-check"></i> Cadastrar </button>
                            <button class="bt bt-b1 my-1 text-transform-uppercase" name="reset" type="reset"> <i class="fas fa-times"></i> Limpar </button>
                        </div>
                    </form>
                    <p class="m-0"> <small> <em> *Suas informações não serão utilizadas para envio de qualquer tipo de mensagem de SPAM. </em> </small></p>
                </div>
            </div>
        </div> -->

        <div class="container py-3">
            <div class="row cor align-items-center justify-content-center">
                <div class="col-lg-3">
                    <h2 class="m-0">Escritório de Contabilidade</h2>
                </div>
                <div class="col-lg-auto">
                    <div class="linha-vertical"></div>
                </div>
                <div class="col-lg-3">
                    <p class="m-0">Venha fazer uma parceria de Sucesso! Encontre em nossa empresa tudo o que precisa.</p>
                </div>
            </div>
            <div class="row mt-4 cor justify-content-center align-items-lg-center">
                <div class="col-lg-3 text-align-lg-right">
                    <p class="m-0" > <i class="fas fa-map-marker-alt"></i> Endereço do local - nº 000 <br> Bairro local - Cidade/UF <br>  CEP. 00000-000 </p>
                </div>
                <div class="col-lg-3 text-align-lg-center">
                    <p class="m-0"><i class="fas fa-flip-horizontal fa-phone"></i> (00) 0000-0000 </p>
                    <a class="m-0" href="https://api.whatsapp.com/send?phone=5500000000000&text=Olá,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank"> <i class="fab fa-whatsapp"></i> (00) 00000-0000 </a>
                </div>
                <div class="col-lg-3">
                    <a class="m-0" href="mailto:contato@dominio.com.br"> <i class="fas fa-envelope"></i> contato@dominio.com.br </a>
                    <p class="m-0"> <i class="fas fa-user"></i> CRC/UF 00000-0</p>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center mt-3">
                <a class="redes" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="redes" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                <a class="redes" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a class="redes" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>

    <div class="bkg-b2">
        <div class="container py-1">
            <p class="m-0 cor text-align-center" style="font-size:18px">Copyright <i class="far fa-copyright"></i> 2023 <strong>Escritório de Contabilidade</strong> | Desenvolvido por <strong> <a href="https://sitecontabil.com.br/" target="_blank">Sitecontabil</a></strong></p>
        </div>
    </div>

</footer>
</body>
</html>
