<footer class="bkg">

    <!-- ebook -->
    <!-- <div class="container py-10">
        <div class="row align-items-center">
            <div class="col-lg">
                <img src="assets/imgs/h4.png" alt="" width="100%" height="350px" style="object-fit: contain;">
            </div>
            <div class="col-lg-7">
                <h3 class="mb-1 font-weight-400"> Baixe <strong> gratuitamente </strong> nossos materiais exclusivos! </h3>
                <h2 class="cor-c2 mb-4"> Cadastre-se e receba nossos materiais</h2>
                
                <h5 class="font-weight-400 mb-1 mt-2"> Em nossa empresa, sempre nos preocupamos em atender todas suas <span class="cor-c2 font-weight-600">necessidades</span> </h5>
                <a href="ebook" target="_blank" class="bt bt-b2 my-1 text-transform-uppercase">Acesse nossos materiais</a>
            </div>
        </div>
    </div> -->

    <div class="container py-4"> <a id="form"></a>
        <div class="row">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <div class="bkg-bs p-2 p-lg-6 text-align-justify text-align-lg-left d-flex flex-column align-items-start" style="border-radius: 5px;">
                    <h4 class="font-weight-300"> Tem alguma dúvida? </h4>
                    <h2 class="display-4 font-weight-400"> Fale <span class="font-weight-600">conosco agora </span></h2>
                    <p class="m-0"> Mande uma mensagem diretamente para nosso WhatsApp e vamos conversar sobre o seu caso. Você também pode nos enviar um e-mail direto usando o formulário. </p>
                    <p class="mb-0"> <a href="https://api.whatsapp.com/send?phone=5500000000000&text=Olá,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank" class="bt bt-b2v text-transform-uppercase mb-0 cor-c2" style="font-variant: small-caps;"> <i class="mr-1 fab fa-fw fa-whatsapp"></i> <small> Whatsapp </small> </a> </p>
                    <p class="mb-0"> <a href="tel:550000000000" target="_blank" class="bt bt-b2 text-transform-uppercase mb-0 cor-c2" style="font-variant: small-caps;"> <i class="mr-1 fas fa-fw fa-phone-volume"></i> <small> Ligar </small> </a> </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="offset-lg-1">
                    <h4 class="font-weight-300 mb-1"> Entre em <span class="font-weight-500">contato </span> e faça uma <span class="font-weight-500">parceria </span>de sucesso! </h4>
                    <h2 class="font-weight-300"> Interessado em nossos <span class="font-weight-500"> serviços</span>?</h2> 
                    <form class="contato position-relative" class="py-5" id="formcontato" method="post">
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-grow-1 contato-borda">
            <i class="contato-icone fas fa-user-check"></i>
            <input type="text" name="nome" id="formnome" placeholder="Digite seu Nome *" required />
        </div>
        <div class="d-flex flex-grow-1 contato-borda">
            <i class="contato-icone fas fa-envelope-open"></i>
            <input type="text" name="email" id="formemail" placeholder="Digite seu E-mail *" required />
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-grow-1 contato-borda">
            <i class="contato-icone fas fa-phone"></i>
            <input type="text" name="telefone" id="formtelefone" class="celular-mask" placeholder="Digite seu Telefone *" required>
        </div>
        <div class="d-flex flex-grow-1 contato-borda">
            <i class="contato-icone fas fa-mobile"></i>
            <input type="celular" name="celular" id="formcelular" class="celular-mask" placeholder="Digite seu Celular">
        </div>
    </div>
    <div class="d-flex flex-wrap">
        <div class="d-flex flex-grow-1 contato-borda">
            <i class="contato-icone fas fa-pencil-alt"></i>
            <input type="assunto" name="assunto" id="formassunto" placeholder="Digite seu Assunto *" required>
        </div>
    </div>
    <div class="d-flex contato-borda">
        <i class="contato-icone fas fa-comment"></i>
        <textarea name="mensagem" id="formmensagem" cols="40" rows="7" placeholder="Digite sua Mensagem *" required></textarea>
    </div>
    <p class="m-0"> <small> <em> * preenchimento de campo <span class="cor-c2">obrigatório</span> </em> </small> </p>
    <a href="javascript:void(0);" onclick="reloadcaptcha_contato();" class="small"><i class="fas fa-redo mr-1"></i> Trocar imagem</a>
    <div class="form-row">
        <div class="d-flex flex-wrap flex-grow-1 contato-borda">
            <div class="captcha"><img id="imgcaptcha-contato" src="captcha-contato.php" class="d-block" style="border-bottom: 1px solid #333333;"></div>
            <!-- <i class="contato-icone fas fa-pencil-alt"></i> -->
            <input type="text" name="captcha" id="formcaptcha-contato" placeholder="Digite os caracteres ao lado *" required>
        </div>
    </div>
    <p class="small">Os dados captados nesse formulário não serão utilizados por terceiros, apenas para uso interno de acordo com a <a href="lgpd.php">LGPD</a>. Ao enviar sua mensagem você concorda com nossa política de privacidade.</p>
    <div>
        <button type="submit" class="bt bt-b1 mt-2">Enviar mensagem <i class="fas fa-paper-plane border-left border-light ml-1 pl-1"></i></button>
        <button type="reset" class="bt bt-b1 mt-2">Cancelar mensagem <i class="fas fa-eraser border-left border-light ml-1 pl-1"></i></button>
    </div>
    <div id="resultado"></div>
</form>                </div>
            </div>
        </div>
    </div>

    <div class="position-relative bkg-b1">
        <!-- newsletter -->
        <!-- <div class="container bkg-bs rectangle2 p-4">
            <div class="row">
                <div class="col-lg d-flex flex-column justify-content-center">
                    <h3 class="mb-1 font-weight-400"> Cadastre  <strong>  seu email  </strong> e receba</h3>
                    <h2 class="mb-0"> Nossas <strong>Newsletters</strong></h2>
                </div>
                <div class="col-lg-7 d-flex flex-column justify-content-center">
                    <h5 class="font-weight-400 mb-1 mt-2"> Fique atento as novidades do mundo empresarial! </h5>
                    <form class="ebook width-100" name="" action="/newsletter/cadastro/index.php" method="post" target="_blank">
                        <div class="d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-grow-1 ebook-borda">
                                <i class="ebook-icone fas fa-user-check"></i>
                                <input type="text" name="nome_user" placeholder="Digite seu nome" required="">
                            </div>
                            <div class="d-flex flex-grow-1 ebook-borda">
                                <i class="ebook-icone fas fa-envelope-open"></i>
                                <input type="email" name="email_user" placeholder="Digite seu email" required="">
                            </div>
                        </div>
                        <div>
                            <button class="bt bt-b1 my-1 text-transform-uppercase" name="send" type="submit"> <i class="fas fa-check"></i> Cadastrar </button>
                            <button class="bt bt-b1 my-1 text-transform-uppercase" name="reset" type="reset"> <i class="fas fa-times"></i> Limpar </button>
                        </div>
                    </form>
                    <p class="m-0"> <small> <em> *Suas informações não serão utilizadas para envio de qualquer tipo de mensagem de SPAM. </em> </small></p>
                </div>
            </div>
        </div> -->
        
        <div class="container py-5 mt-10">
                <div class="row cor">
                    <div class="col-lg-2 d-flex align-items-center">
                        <div class="logo2">
                            <a href="index.php" target="_self"> <img src="{{asset('assets/imgs/logo.png'|theme)}}" alt=""> </a>
                            <div class="d-flex mt-3 justify-content-center">
                                <a href="https://www.facebook.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-fb fab fa-fw fa-facebook-f"> </a>                                <a href="https://twitter.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-tw fab fa-fw fa-twitter"> </a>                                <a href="https://www.instagram.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-ig fab fa-fw fa-instagram"> </a>                                <a href="https://www.linkedin.com/" target="_blank" class="p-2 p-lg-0 social mx-1 social-in fab fa-fw fa-linkedin-in"> </a>                            </div>
                        </div>
                        <!-- <h4 class="my-2 text-align-center"> Caro empreendedor! <span class="d-block h6 font-weight-400 mt-1"> Temos soluções pontuais para o seu negócio! </span> <span class="cor-c0 text-transform-uppercase font-weight-500 h2 d-block mt-2"> Qual a sua necessidade? </span></h4> -->
                    </div>
                    <div class="col-lg-3 offset-lg-1 mt-lg-0 mt-4 text-align-justify">
                        <p class="d-flex align-items-baseline"> <i class="mr-1 fas fa-fw fa-map-marker-alt"></i> Endereço do local - nº 000 – Bairro local <br> Cidade/UF –  CEP. 00000-000 </p>
                    </div>
                    <div class="col-lg-3 mt-lg-0 mt-4">
                        <p class="mb-0 d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-phone"></i> <a href="tel:550000000000"> <span> (00) 0000-0000  </span></a> </p>
                        <p class="d-flex align-items-center"> <i class="mr-1 fab fa-fw fa-whatsapp"></i> <a href="https://api.whatsapp.com/send?phone=5500000000000&text=Olá,%20estou%20entrando%20em%20contato%20pelo%20site!" target="_blank"> <span> (00) 00000-0000 </span> </a> </p>
                    </div>
                    <div class="col-lg-3 mt-lg-0 mt-4">
                        <p class="mb-0 d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-envelope"></i> <a href="mailto:contato@dominio.com.br"> contato@dominio.com.br </a> </p>
                        <p class="d-flex align-items-center"> <i class="mr-1 fas fa-fw fa-file"></i> CRC/UF 00000-0 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bkg-b2">
            <div class="container py-1 position-relative align-items-center ">
                <p class="m-0 text-align-center cor" style="vertical-align: text-bottom;"> Copyright <i class="far fa-copyright"></i> 2023 <a href="https://sitecontabil.com.br/modelos" target="_blank" rel="noopener noreferrer"> <img src="https://sitecontabil.com.br/imgs/logo-sc-b.png" width="20px" alt="" class="position-relative" style="top: 4px;"> Design e desenvolvimento </a> | <strong> Escritório de Contabilidade </strong></p>
            </div>
        </div>
    </div>

</footer>